<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Title</title>
</head>
<body>
  <h1>{{heading}}</h1>
  <main>{{main}}</main>
  <footer>{{sayHello "John Doe"}}</footer>
</body>
</html>