@import '../scss/reset.scss';
@import '../scss/font.scss';

html, body {
    margin: 0; 
    padding: 0;
}

html {
    height: 100%;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

