@mixin add-font($folder, $variant, $type, $weight, $style) {
    $file: '#{to-lower-case($variant)}-#{to-lower-case($type)}';


    @font-face {
        font-family: '#{$variant}';
        src: local('#{$variant} #{$type}'),
             local('#{$variant}-#{$type}'),
             url('#{$folder}/#{$file}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

@include add-font('../fonts', 'Roboto', 'Thin', 100, normal);
@include add-font('../fonts', 'Roboto', 'Light', 300, normal);
@include add-font('../fonts', 'Roboto', 'Regular', 400, normal);
@include add-font('../fonts', 'Roboto', 'Medium', 500, normal);
@include add-font('../fonts', 'Roboto', 'Bold', 700, normal);
@include add-font('../fonts', 'Roboto', 'Black', 900, normal);