html, body {
    margin: 0; 
    padding: 0;
}

html {
    height: 100%;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-size: 62.5%;
    height: 100%;
}

input {
    outline: none;
}

h1 {
    margin: 0;
    font-weight: normal;
}