{{load this 'author'}}
<div class="wrapper margin-0-auto size-small text-center circle">
  <h1>Webpack with Handlebars</h1>
  <main>
    <img src="images/webpack.svg" alt="Webpack"/> 
    <span>+</span>
    <img src="images/handlebars.svg" alt="Handlebars"/>
  </main>
  <footer>
    <span>{{greet name}}</span>
  </footer>
</div>